.DS_Store
.dart_tool/
.history/
.idea/


.packages
.pub/
pubspec.lock

build/
android/.gradle
android/.idea
android/gradle

example/.dart_tool
example/build
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.metadata
example/android/.gradle
example/android/.idea
example/android/gradle
example/android/settings_aar.gradle

example/ios/.symlinks